
.container{
    margin: 0 auto;
}

.Section__Header__heading{
  margin-top: 10px;
}

.HorizontalList > .HorizontalList__Item{
   position: relative;
   left: 20%;
  }
  
  .HorizontalList__Item{
    display: inline-block;
    margin: 6px 10px 6px 10px;
    text-align: center;
  }
  
  .HorizontalList__Item > .Text--subdued {
    text-decoration: none;
    background-color: transparent;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.762);
    cursor: pointer;
}

.HorizontalList__Item > .Text--subdued:hover{
font-weight: 600;
}

.Blog__TagList .Link.is-active::after {
  display: block;
  content: "";
  width: calc(100% - 0.15em);
  height: 1px;
  background: currentColor;
}

.HeroImage{
  width: 100%;
}

.HeroImage:hover {
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1);
  transition: all 2s linear;
}

.SectionHeader__Heading > a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Montserrat';
  position: relative;
  top: -170px;
  left: 30px;
}

.SectionHeader__ButtonWrapper > a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Montserrat';
  position: relative;
  top: -140px;
  left: 30px;
  padding: 15px 30px;
  background: linear-gradient(to left, rgb(0, 0, 0) 50%, rgb(255, 255, 255) 50%) right;
  background-size: 200%;
  transition: .3s ease-out;

}
 
.SectionHeader__ButtonWrapper > a:hover{
  background-position: left;
  color: rgb(0, 0, 0);
}

@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
.Blog__Card{
    margin-top: 10px;
    margin-bottom: 20px;
    animation: Blog__Card ease-in 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes Blog__Card{
  0%,
    50% {
      transform: translateY(100%);
    }
     
    60%,
    100% {
      transform: translateY(0);
    
    }
}

.card-wrapper {
  padding: 2%;
}

.card-wrapper .card{
  margin: 0 auto;
}

.Blog__Card__Content{
  position: relative;
  max-width: 250px;
 /* background-color: #FEEFDE;  */
  overflow: hidden;
  padding-bottom: 10px;
  /* box-shadow: 1px 2px 8px rgba(100, 100, 100, 0.1); */
}

.image-wrapper {
  background-color: rgba(255, 0, 0, 0);
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.Card__Image{
  width: 100%;
  height: 150px;
  object-fit: cover; 
  object-position: center;
}

.Card__Image:hover {
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1);
  transition: all 1s linear;
}

.text-box-wrapper {
 padding: 10px 
}

.heading {
  font-family: 'Montserrat';
  font-size: 25px;
  font-weight: 500;
  line-height: 1;
}

.text {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 13px;
  padding-top: 10px;
  line-height: 2;
}

.button{
  display: block;
  margin-left: 10px;
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 500;
  color: #000000;
}

.button:hover{
  color: #000000;
}

.ArticleList{
  margin-top: 5px;
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.696);
}

.ProductItem__container{
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  /* display: flex; */
  flex-direction: row;
  margin-top: 108px;
  align-items: center;
  justify-content: center;
}
.ProductItem{
  width: 65%;
  border: 1px solid rgba(0, 0, 0, 0.112);
  height: 408px;
}

.ShopNow{
  /* margin-left: 283px; */
  margin-top: -14px;
  background-color: white;
  width: 20%;
  text-align: center;
  transform: translate(190%, 10%);
}

.Product__info{
  width: 70%;
  margin: 0px 60px;
  padding: 3px;
  color: black;
}

.ProductItem__Title > a{
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  color: black
}

.ProductItem__Price{
  font-size: 15px;
  color: #00000094;
  font-weight: 500;
}

.ProductItem__Price1{
  font-size: 15px;
  color: #ffffff94;
  font-weight: 500;
}

.Price--compareAt {
  position: relative;
  margin-left: 10px;
  display: inline-block;
  text-decoration: line-through;
}

.Price--highlight {
color: red;
}

.ProductItem__Image{
width: 100%;
}

.slick-arrow{
background-color: #000000;
}

.slick-prev {
  left: -11px;
  background-color: #000000;
} 

.slick-next {
  right: 0px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    transform: translate(0, -50%);
    background-color: black;
    cursor: pointer;
}


.product__image{
  width: 70%;
  padding: 10px;
  margin: 30px;
}

.FeatureQuote{
  /* border: 1px solid red; */
  /* flex: 0 0 auto; */
  width: 33.33%;
}

.FeaturedQuote__container{
  background-color: #1c1b1b;
  color: white;
  margin: 20px;
  padding: 68px;
}

.FeaturedQuote__Content{
  font-size: 15px;
  font-weight: 500;
}

.FeaturedQuote__Author{
  font-size: 15px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.394);
}

@media (min-width:768px ) {
  .ProductItem__container{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }
}

@media (max-width:768px ) {
  .FeatureQuote{
    width: 100%;
    font-size: 13px;
  }
}

@media (max-width:768px ) {
  .ProductItem{
     width: 100%;
  }
}

@media (max-width:768px ) {
  .col-4{
     width: 100%;
  } 
     .heading {
      font-size: 20px;
    }
    .Blog__Card__Content{
      max-width: 100%;
    }
  }

@media (max-width:768px ) {
  .SectionHeader__Heading > a{
    font-size: 11px;
    position: relative;
    top: -92px;
    left: 5px;
  }
  .SectionHeader__ButtonWrapper > a{
    font-size: 12px;
    position: relative;
    top: -92px;
    left: 5px;
    padding: 8px 17px;
  }
}



