.container {
  margin: 0 auto;
}

.Section__Header__heading {
  margin-top: 90px;
}

.HorizontalList > .HorizontalList__Item {
  position: relative;
  left: 20%;
}

.HorizontalList__Item {
  display: inline-block;
  margin: 6px 10px 6px 10px;
  text-align: center;
}

.HorizontalList__Item > .Text__subdued {
  text-decoration: none;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.762);
  cursor: pointer;
}

.HorizontalList__Item > .Text__subdued:hover {
  font-weight: 600;
}

.Blog__TagList .Link.is-active::after {
  display: block;
  content: "";
  width: calc(100% - 0.15em);
  height: 1px;
  background: currentColor;
}

.ArticleList {
  margin-top: 5px;
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.696);
}

.HeroImage {
  width: 100%;
}

.HeroImage:hover {
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1);
  transition: all 2s linear;
}

.SectionHeader__Heading > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  position: relative;
  top: -170px;
  left: 30px;
}

.SectionHeader__ButtonWrapper > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  position: relative;
  top: -140px;
  left: 30px;
  padding: 15px 30px;
  background: linear-gradient(to left, rgb(0, 0, 0) 50%, rgb(255, 255, 255) 50%)
    right;
  background-size: 200%;
  transition: 0.3s ease-out;
}

.SectionHeader__ButtonWrapper > a:hover {
  background-position: left;
  color: rgb(0, 0, 0);
  border: 1px solid black;
}

.Mobile {
  display: none;
}

/* .ProductItem__Title > a {
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  color: black;
} */

/* .ProductItem__container {
  width: 100%;
  height: 100%;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.ProductItem {
  width: 63%;
  border: 1px solid rgba(0, 0, 0, 0.112);
  height: 425px;
}

.ProductItem__Image {
  width: 100%;
}

.ShopNow {
  margin-top: -14px;
  background-color: white;
  width: 20%;
  text-align: center;
  transform: translate(190%, 10%);
}

.product__image {
  width: 70%;
  padding: 10px;
  margin: 30px;
}

.Product__info {
  width: 70%;
  margin: 0px 60px;
  padding: 3px;
  color: black;
}


.ProductItem__Price {
  font-size: 15px;
  color: #00000002;
  font-weight: 500;
}

.ProductItem__Price:hover {
  font-size: 15px;
  color: #0000009b;
  font-weight: 500;
}

.Price--compareAt {
  position: relative;
  margin-left: 10px;
  display: inline-block;
  text-decoration: line-through;
}

.Price--highlight {
  color: rgb(255, 255, 255);
}

.Price--highlight:hover {
  color: red;
} */

.slick-prev {
  left: -25px;
}

.slick-next {
  right: -25px;
}

.slick-prev,
.slick-next {
  width: 50px;
  height: 50px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 39px;
  color: rgba(0, 0, 0, 0.078);
}

.FeatureQuote {
  width: 33.33%;
}

.FeaturedQuote__Container {
  background-color: #1c1b1b;
  color: white;
  margin: 20px;
  padding: 68px;
}

.FeaturedQuote__Content {
  font-size: 15px;
  font-weight: 500;
}

.FeaturedQuote__Author {
  font-size: 15px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.394);
}

@media (max-width: 520px) {
  .container-sm {
    width: 100%;
  }
}

@media (max-width: 786px) {
  .HorizontalList > .HorizontalList__Item {
    position: relative;
    left: 0%;
  }
}

@media (max-width: 768px) {
  .Desktop {
    display: none;
  }

  .Mobile {
    display: block;
  }

  .Section__Header__Article {
    margin-bottom: 60px;
  }

  .SectionHeader__Heading > a {
    font-size: 13px;
    font-weight: 600;
    position: relative;
    top: 6px;
    left: 0px;
    color: rgb(0, 0, 0);
  }
  .SectionHeader__ArticleItem__Excerpt {
    margin: 25px 0px;
    font-size: 11px;
  }

  .SectionHeader__ButtonWrapper > a {
    font-size: 12px;
    position: relative;
    top: 6px;
    left: 0px;
    padding: 8px 17px;
  }
}

@media (min-width: 768px) {
  .ProductItem__container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .ProductItem {
    width: 100%;
    height: 350px;
  }

  .ProductItem > .ShopNow {
    font-size: 12px;
    margin-top: -10px;
  }

  .ProductItem__Title > a {
    font-size: 8px;
  }

  .ProductItem__Price {
    font-size: 8px;
    color: rgba(0, 0, 0, 0.341);
  }

  .Price--highlight {
    color: red;
  }

  .FeatureQuote {
    width: 100%;
    font-size: 13px;
  }
}
