.checkout__info {
  max-width: 100%;
  display: flex;
  margin-top: 200px;
}

.checkout__info > .checkout__form {
  width: 60%;
  border-right: 1px solid rgb(187, 187, 187);
  padding-right: 30px;
  padding-left: 30px;
}

.checkout__info > .checkout__form > nav {
  --bs-breadcrumb-divider: ">";
}

.checkout__info > .checkout__form > nav > ol > li {
  font-size: 13px;
}

.express__checkout{
    border: 1px solid rgb(187, 187, 187);
    text-align: center;
    border-radius: 5px;
    margin: 40px 0px;
}

.express__checkout > .Paypal__checkout{
    font-size: 13px;
    color: black;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    width: 30%;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
}

.paypal__payment > .btn{
    background-color: rgb(255 196 57);
    width: 90%;
    margin: 20px;
}

.divider{
    border-top: 1px solid rgb(187, 187, 187);
    padding: 5px;
}

.divider > .Or{
    width: 10%;
    text-align: center;
    margin-top: -16px;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
}

form{
margin: 30px auto;
}

form > .mb-3 > .d-flex > .account{
    font-size: 14px;
}

.button{
display: flex;
justify-content: space-between;
align-items: center;
cursor: pointer;
}

.return_to_cart{
  display: flex;
}

/* ****************************** payment__info ******************************* */
.checkout__info > .payment {
  width: 40%;
  padding-right: 30px;
  padding-left: 30px;
}

.checkout__info > .payment.cart_item>.cart_item_details {
  align-items: center;
  width: 50%;
}

.checkout__info > .payment >.cart_item>.cart_item_priceList {
  width: 10%;
}

.checkout__info > .payment>.cart_item>.cart_item_details>.cart_item_img {
  min-width: 70px;
  width: 70px;
  border: 1px solid rgba(128, 128, 128, 0.486);
  padding: 5px;
  border-radius: 5px;
}

.checkout__info > .payment>.cart_item>.cart_item_details>.cart_item_img > .total_cartProduct{
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  background: hsla(0,0%,45%,90%);
  text-align: center;
  position: absolute;
  transform: translate(50px, -13px);
  border-radius: 13px;
    min-width: 22px;
    min-height: 20px;
}

.checkout__info > .payment>.cart_item>.cart_item_details>.cart_item_img>img {
  width: 100%;
}

.checkout__info > .payment>.cart_item>.cart_item_details>.cart_item_details_info {
  max-width: 200px;
  width: 200px;
  padding-left: 20px;
}

.checkout__info > .payment>.cart_item>.cart_item_details>.cart_item_details_info>h6 {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: .3rem;
}

.checkout__info > .payment>.cart_item>.cart_item_details>.cart_item_details_info>h6>a {
  text-decoration: none;
  color: #000;
}

.checkout__info > .payment>.cart_item>.cart_item_details>.cart_item_details_info>p {
  font-size: 12px;
  font-weight: 500;
  color: #000;
  margin-bottom: .5rem;
}

.checkout__info > .payment>.cart_item>.cart_item_details>.cart_item_details_price>.cart_item_details_info_priceList>.oldPrice {
  font-size: 12px;
  font-weight: 600;
  color: #6A6A6A;
  margin: 0px 5px;
}

.checkout__info > .payment>.cart_item>.cart_item_details>.cart_item_details_price>.cart_item_details_info_priceList>.newPrice {
  font-size: 15px;
  font-weight: 600;
  color: #6A6A6A;
margin: 0px 5px;
}

.checkout__info > .payment>.cart_item>.cart_item_details>.cart_item_details_price>.cart_item_details_info_priceList>.oldPrice {
  text-decoration: line-through;
}












.checkout__info > .payment > .shipping > .card-total{
  display: flex;
  justify-content: space-between;
}

.checkout__info > .payment > .card-total{
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.checkout__info > .payment > .card-total > .total{
  font-weight: 600;
  font-size: 18px !important;
 color:  #6A6A6A;
}

.checkout__info > .payment > .card-total > .price__format{
  display: flex;
 align-items: flex-end;
}

.checkout__info > .payment > .card-total > .price__format > small{
  font-size: 12px !important;
}


.checkout__info > .payment > .card-total > .price__format > h2{
  font-size: 25px !important;
}